*{ margin:0; padding:0;}
a{ text-decoration: none; }
li{ list-style: none;}
img{ vertical-align: middle;}
.an{width: 1200px; margin: auto;}

/*------------deng-------------------*/
.deng{
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #999;
    
}
.deng nav{
    float: right;
}
.deng a{
    margin: 0 10px;
}

/*------------top-------------------*/
.top{height: 100px;
    
}
.top1{
   
    height: 100px;
    line-height: 100px;
}

.top ul{
    float: right;
    
}
.top1 ul li{
    height: 100px;
    float: left;
    margin: 0 25px;
}
.top1 ul li:hover{
    color: #181717;border-bottom: 3px solid #181717;
}
/*------------lun-------------------*/
.lun{
    position: relative;
    width: 1900px;
    height: 650px;
    overflow: hidden;
    
}
.lun img{
    height: 600px;
    width: 1900px;
}
.lun .tu{
    position: absolute;
   
}
.lun .tu li{
    float: left;
    height: 600px;
    width: 1900px;
}


.lun .dian{
    width: 1900px;
    height: 50px;
    position: absolute;
    bottom: -5px;
    display: flex;
    justify-content: center;
}
.lun .dian li{
    text-align: center;
    height: 15px;
    width: 15px;
    background:white;
    border: 1px solid #a1a1a1;
    margin: 5px;
    float: left;
    border-radius: 50%;
    
      
}
.lun .dian li.hover{
    background-color:#a1a1a1;
}
.btns span{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    background: black;
    opacity: .3;
    font-weight: bold;
    color: white;
}
.btns span:first-child{
    left:20px ;
}
.btns span:last-child{
    right: 20px;
}