*{ margin:0; padding:0;}
a{ text-decoration: none; }
li{ list-style: none;}
img{ vertical-align: middle;}
.an{width: 1200px; margin: auto;}

/*------------deng-------------------*/
.deng{
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #999;
    

}
.deng nav{
    float: right;
}
.deng a{
    margin: 0 10px;
}

/*------------top-------------------*/
.top{height: 100px;
   position: relative;
}
.top nav{
    float: right;
}
.top img{
    margin-top: 30px;
}
.top1 .yy .yi{
    
    height: 100px;
    line-height: 95px;
}
.top1 .yy .yi li{
    float: left;
    margin: 0 25px;
}
.top1 .er {
    z-index: 100;
    background:white;
    position: absolute;
    left: 0;

    
}
.top1 .er div{
    height: 450px;
    width: 1900px;
    display: none;
}
.top1 .er div ul{
    float: left;
    width: 100px;
}
.top1 .er div ul li{
    margin-top: 15px;
    height: 40px;
}


.top1 .yy .yi li:hover{
    border-bottom: 5px solid #181717;
    color: red;
    
}

/*------------列表-------------------*/
.lie{
    width: 100%;
    background-color: yellow;
}
.lie .zuo{
    float: left;
    width: 240px;
    background-color: red;
    height: 1200px;
    
}
#prodlist li{
    float: left;
    width: 255px;
    margin:10px ;
    height:315px;
    background: yellowgreen;
}
#prodlist li img{
    width: 255px;
    height: 255px;
}
#prodlist li p{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#prodlist li span{
    font-size: 14px;
    
}
#prodlist li input{
    float: right;
    width: 120px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
}